footer.footer
	.container
		.footer-inner
			.row
				.col-sm-7.col-md-6.sm-text-center.xs-text-center
					.footer__address
						img.footer__address-img.hidden-xxs(src="/img/f-map.png", alt="map")
						span.footer__address-text г. Ногинск, Измайловский переулок, д.2, оф. 211
						br
						a.footer__address-link(href="#") Схема проезда
					.footer__info
						img.footer__info-img(src="/img/f-tel.png", alt="phone")
						span.footer__info-text Москва: 
						a.footer__info-link(href="tel:+74952405919") +7 (495) 240-59-19
						img.footer__info-img.hidden-xxs(src="/img/f-mail.png", alt="mail")
						a.footer__info-link.hidden-xxs(href="mailto:info@sztek.ru") info@sztek.ru
				.col-sm-5.col-md-6.text-right.sm-text-center.xs-text-center
					.footer__develop
						a(href="http://www.dvaslona.ru/" target="_blank" rel="noopener")
							img.footer__develop-img(src="/img/develop.png", alt="Dvaslona")
						span.footer__develop-text Разработка сайта<br>«Два слона»
			.text-center
				p.footer__copyright  &copy; 2017 Союзтекстиль | Все права защищены