- menu = ["О нас", "Продукция", "Потребности", "Преимущества", "Контакты"]
- catalogMenu = ["ткани технические", "ленты технические", "швейные нити", "нити технические", "ткани кордные", "гео материалы", "сырье вторичное"]
- bottomMenu = ["О компании", "Новости", "Вакансии", "Контакты"]